@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #42275a, #734b6d);
    --background: 289 97% 98.5%;
    --foreground: 289 4% 1%;

    --muted: 289 4% 92.5%;
    --muted-foreground: 289 2% 42.5%;

    --popover: 289 58% 92.5%;
    --popover-foreground: 289 4% 1.25%;

    --card: 289 58% 92.5%;
    --card-foreground: 289 4% 1.25%;

    --border: 289 9% 90%;
    --input: 289 9% 90%;

    --primary: 289 40% 25%;
    --primary-foreground: 289 0.8% 92.5%;

    --secondary: 289 2% 96.25%;
    --secondary-foreground: 289 3.4000000000000004% 12.5%;

    --accent: 289 2% 96.25%;
    --accent-foreground: 289 3.4000000000000004% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 289 40% 25%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 253 43% 3%;
    --foreground: 253 31% 98%;
    --muted: 253 7% 13%;
    --muted-foreground: 253 13% 63%;
    --popover: 253 43% 3%;
    --popover-foreground: 253 31% 98%;
    --card: 253 43% 4%;
    --card-foreground: 253 31% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 253 91% 58%;
    --primary-foreground: 253 91% 98%;
    --secondary: 253 7% 9%;
    --secondary-foreground: 253 7% 69%;
    --accent: 253 13% 14%;
    --accent-foreground: 253 13% 74%;
    --destructive: 339.2 90.36% 51.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 253 91% 58%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}
